@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;800&family=Heebo:wght@900&display=swap');

.navbar {
    width: 100%;
    align-items: center;
    
}







    
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top:0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        z-index: 40;
        transition: left 1s;

    }

    .active {
        left: 0;
        display: flex;
    }


/* background animations */

.landingpage {
    background-image: url(/Sunflower.svg);
    background-position: center;
}

.Movement {
    background-image: url(/nft-particles.svg)
}

.blob {
    background-image: url(/wave.svg);
    background-size: cover;
}

.circle {
    background-image: url(/Valley-10s-1536px.svg)
}


/* icon animatiom */

.icon:hover {
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
  }
  
  @-webkit-keyframes wiggle {
    0% {-webkit-transform: rotate(10deg);}
    25% {-webkit-transform: rotate(-10deg);}
    50% {-webkit-transform: rotate(20deg);}
    75% {-webkit-transform: rotate(-5deg);}
    100% {-webkit-transform: rotate(0deg);}
  }
  
  @-ms-keyframes wiggle {
    0% {-ms-transform: rotate(1deg);}
    25% {-ms-transform: rotate(-1deg);}
    50% {-ms-transform: rotate(1.5deg);}
    75% {-ms-transform: rotate(-5deg);}
    100% {-ms-transform: rotate(0deg);}
  }
  
  @keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
  }


  /* background picture */

  .travel {
    background-image: url(/travel-life.png);
    
    background-repeat: no-repeat;
  }

  .movement {
    background-image: url(/movement-thumbnail.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden
  }


  .nft {
    background-image: url(/nft.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .japan {
    background-image: url(/travelvertical.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .nftphone {
    background-image: url(/nftphone.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .movementvertical {
    background-image: url(/blogpic.png);
    background-size: cover;
    background-repeat: no-repeat;
  }


  .ny {
    background-image: url(/ny.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bottom {
    background-image: url(/bottom.svg);
    background-repeat: no-repeat;
  }

  .filmduo {
    background-image: url(/FILMDUO.png);
    background-size: cover;
    background-repeat: no-repeat;
  }